<!-- wp:template-part {"slug":"header","theme":"measure-twice-theme","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"is-style-default","style":{"color":{"background":"#05070a"},"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull is-style-default has-background" style="background-color:#05070a;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:group {"align":"full","className":"is-style-default","style":{"spacing":{"padding":{"top":"7.94rem","bottom":"7.94rem"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"},"color":{"gradient":"linear-gradient(135deg,rgb(20,17,30) 78%,rgb(75,68,98) 100%)"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group alignfull is-style-default has-background" style="background:linear-gradient(135deg,rgb(20,17,30) 78%,rgb(75,68,98) 100%);margin-top:0;margin-bottom:0;padding-top:7.94rem;padding-bottom:7.94rem"><!-- wp:heading {"style":{"typography":{"fontSize":"72px","textAlign":"center"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<h2 class="wp-block-heading has-text-align-center has-base-color has-text-color has-link-color" style="font-size:72px"><strong><mark style="background-color:rgba(0, 0, 0, 0);color:#5344F4" class="gradient-text-purple">M2:</mark><mark style="background-color:rgba(0, 0, 0, 0);color:#DEC9FF" class="has-inline-color"> </mark></strong>Talent</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"className":"has-border-light-color has-text-color has-link-color","style":{"elements":{"link":{"color":{"text":"var:preset|color|border-light"}}},"typography":{"textAlign":"center"}},"textColor":"border-light"} -->
<p class="has-text-align-center has-border-light-color has-text-color has-link-color">Connect with high-conviction teams building meaningful products.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"className":"has-border-light-color has-text-color has-link-color","style":{"elements":{"link":{"color":{"text":"var:preset|color|border-light"}}},"typography":{"textAlign":"center"}},"textColor":"border-light"} -->
<p class="has-text-align-center has-border-light-color has-text-color has-link-color">Explore internal opportunities <mark style="background-color:rgba(0, 0, 0, 0);color:#5344F4" class="gradient-text-purple">at Measure Twice</mark> and partner roles across our network.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"64px","bottom":"64px"},"padding":{"left":"64px","right":"64px"},"blockGap":"0"}},"layout":{"type":"constrained","contentSize":"1280px"}} -->
<div class="wp-block-group alignwide" style="margin-top:64px;margin-bottom:64px;padding-right:64px;padding-left:64px"><!-- wp:heading {"style":{"color":{"text":"#e1e2e7"},"typography":{"fontSize":"32px","fontWeight":"600","lineHeight":"40px","letterSpacing":"-0.01em","fontFamily":"Sora","textAlign":"left"},"spacing":{"margin":{"bottom":"12px"}}}} -->
<h2 class="wp-block-heading has-text-align-left has-text-color" style="color:#e1e2e7;margin-bottom:12px;font-family:Sora;font-size:32px;font-weight:600;letter-spacing:-0.01em;line-height:40px">Internal Opportunities</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"color":{"text":"#c7c4d9"},"typography":{"fontSize":"14px","fontWeight":"500","lineHeight":"16px","letterSpacing":"0.08em"},"spacing":{"margin":{"bottom":"32px"}}}} -->
<p class="has-text-color" style="color:#c7c4d9;margin-bottom:32px;font-size:14px;font-weight:500;letter-spacing:0.08em;line-height:16px">Join the Measure Twice team</p>
<!-- /wp:paragraph -->

<!-- wp:query {"queryId":5,"query":{"perPage":9,"pages":0,"offset":0,"postType":"m2_career","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"include":{"m2_career_type":[30022]}},"parents":[],"format":[]},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":"4rem"}} -->
<!-- wp:columns {"isStackedOnMobile":false,"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":{"top":"0"}}}} -->
<div class="wp-block-columns is-not-stacked-on-mobile" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:column {"width":"300px","className":"is-style-column-box-shadow","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|md","topRight":"var:preset|border-radius|md","bottomLeft":"var:preset|border-radius|md","bottomRight":"var:preset|border-radius|md"},"width":"1px","color":"#4E4E60"},"spacing":{"padding":{"top":"1.18rem","bottom":"1.18rem","left":"0.54rem","right":"0.54rem"}},"shadow":"var:preset|shadow|medium-light"},"backgroundColor":"main","layout":{"type":"default"}} -->
<div class="wp-block-column is-style-column-box-shadow has-border-color has-main-background-color has-background" style="border-color:#4E4E60;border-width:1px;border-top-left-radius:var(--wp--preset--border-radius--md);border-top-right-radius:var(--wp--preset--border-radius--md);border-bottom-left-radius:var(--wp--preset--border-radius--md);border-bottom-right-radius:var(--wp--preset--border-radius--md);padding-top:1.18rem;padding-right:0.54rem;padding-bottom:1.18rem;padding-left:0.54rem;box-shadow:var(--wp--preset--shadow--medium-light);flex-basis:300px"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|x-large","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center","orientation":"horizontal"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:image {"id":990183,"width":"51px","height":"auto","aspectRatio":"0.6670140698280355","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large is-resized"><img src="http://localhost:10078/wp-content/uploads/2025/11/M2-Talent-Logo-Transparent--683x1024.png" alt="" class="wp-image-990183" style="aspect-ratio:0.6670140698280355;width:51px;height:auto"/></figure>
<!-- /wp:image -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"primary-alt-accent","width":100,"metadata":{"bindings":{"text":{"source":"core/post-meta","args":{"key":"m2_remote_type"}}}},"className":"is-style-fill","style":{"spacing":{"padding":{"left":"0.66rem","right":"0.66rem","top":"0.21rem","bottom":"0.21rem"}},"typography":{"fontStyle":"normal","fontWeight":"400"},"border":{"radius":{"topLeft":"var:preset|border-radius|sm","topRight":"var:preset|border-radius|sm","bottomLeft":"var:preset|border-radius|sm","bottomRight":"var:preset|border-radius|sm"},"width":"0px","style":"none"}},"fontSize":"x-small"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100 is-style-fill"><a class="wp-block-button__link has-primary-alt-accent-background-color has-background has-x-small-font-size has-custom-font-size wp-element-button" style="border-style:none;border-width:0px;border-top-left-radius:var(--wp--preset--border-radius--sm);border-top-right-radius:var(--wp--preset--border-radius--sm);border-bottom-left-radius:var(--wp--preset--border-radius--sm);border-bottom-right-radius:var(--wp--preset--border-radius--sm);padding-top:0.21rem;padding-right:0.66rem;padding-bottom:0.21rem;padding-left:0.66rem;font-style:normal;font-weight:400"></a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:post-title {"textAlign":"center","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"typography":{"fontStyle":"normal","fontWeight":"700","lineHeight":"1.6"}},"textColor":"base","fontSize":"small","fontFamily":"condensed"} /-->

<!-- wp:post-excerpt {"textAlign":"center","excerptLength":10,"className":"is-style-excerpt-truncate-4","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"base","fontSize":"x-small","fontFamily":"condensed"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:read-more {"content":"view role","linkTarget":"_blank","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"border":{"width":"2px"},"spacing":{"padding":{"top":"3px","bottom":"3px","left":"2.73rem","right":"2.73rem"}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"base","fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template -->

<!-- wp:query-no-results {"align":"center"} -->
<!-- wp:query-pagination {"paginationArrow":"arrow","showLabel":false,"layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:separator {"align":"wide","className":"is-style-separator-thin","style":{"spacing":{"margin":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"}}},"backgroundColor":"main"} -->
<hr class="wp-block-separator alignwide has-text-color has-main-color has-alpha-channel-opacity has-main-background-color has-background is-style-separator-thin" style="margin-top:var(--wp--preset--spacing--small);margin-bottom:var(--wp--preset--spacing--small)"/>
<!-- /wp:separator -->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"64px","bottom":"64px"},"padding":{"left":"64px","right":"64px","top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium"},"blockGap":"0"}},"layout":{"type":"constrained","contentSize":"1280px"}} -->
<div class="wp-block-group alignfull" style="margin-top:64px;margin-bottom:64px;padding-top:var(--wp--preset--spacing--medium);padding-right:64px;padding-bottom:var(--wp--preset--spacing--medium);padding-left:64px"><!-- wp:heading {"style":{"color":{"text":"#e1e2e7"},"typography":{"fontSize":"32px","fontWeight":"600","lineHeight":"40px","letterSpacing":"-0.01em","fontFamily":"Sora","textAlign":"center"},"spacing":{"margin":{"bottom":"12px","top":"0"}}}} -->
<h2 class="wp-block-heading has-text-align-center has-text-color" style="color:#e1e2e7;margin-top:0;margin-bottom:12px;font-family:Sora;font-size:32px;font-weight:600;letter-spacing:-0.01em;line-height:40px">Partner Opportunities</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"color":{"text":"#c7c4d9"},"typography":{"fontSize":"14px","fontWeight":"500","lineHeight":"16px","letterSpacing":"0.08em","textAlign":"center"},"spacing":{"margin":{"bottom":"32px"}}}} -->
<p class="has-text-align-center has-text-color" style="color:#c7c4d9;margin-bottom:32px;font-size:14px;font-weight:500;letter-spacing:0.08em;line-height:16px">Open positions from trusted clients and collaborators</p>
<!-- /wp:paragraph -->

<!-- wp:query {"queryId":5,"query":{"perPage":9,"pages":0,"offset":0,"postType":"m2_career","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"include":{"m2_career_type":[30023]}},"parents":[],"format":[]},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":"4rem"}} -->
<!-- wp:columns {"isStackedOnMobile":false,"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":{"top":"0"}}}} -->
<div class="wp-block-columns is-not-stacked-on-mobile" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:column {"width":"300px","className":"is-style-column-box-shadow","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|md","topRight":"var:preset|border-radius|md","bottomLeft":"var:preset|border-radius|md","bottomRight":"var:preset|border-radius|md"},"width":"1px","color":"#4E4E60"},"spacing":{"padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large","left":"var:preset|spacing|small","right":"var:preset|spacing|small"},"blockGap":"var:preset|spacing|small"},"shadow":"var:preset|shadow|medium-light"},"backgroundColor":"main","layout":{"type":"default"}} -->
<div class="wp-block-column is-style-column-box-shadow has-border-color has-main-background-color has-background" style="border-color:#4E4E60;border-width:1px;border-top-left-radius:var(--wp--preset--border-radius--md);border-top-right-radius:var(--wp--preset--border-radius--md);border-bottom-left-radius:var(--wp--preset--border-radius--md);border-bottom-right-radius:var(--wp--preset--border-radius--md);padding-top:var(--wp--preset--spacing--large);padding-right:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--large);padding-left:var(--wp--preset--spacing--small);box-shadow:var(--wp--preset--shadow--medium-light);flex-basis:300px"><!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"core/post-meta","args":{"key":"m2_partner_company"}}}},"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"typography":{"textAlign":"center"}},"textColor":"base","fontSize":"small","fontFamily":"condensed"} -->
<p class="has-text-align-center has-base-color has-text-color has-link-color has-condensed-font-family has-small-font-size"></p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"textAlign":"center","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"typography":{"fontStyle":"normal","fontWeight":"700","lineHeight":"1.6"}},"textColor":"base","fontSize":"small","fontFamily":"condensed"} /-->

<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"core/post-meta","args":{"key":"m2_remote_type"}}}},"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"typography":{"textAlign":"center"}},"textColor":"base","fontSize":"small","fontFamily":"condensed"} -->
<p class="has-text-align-center has-base-color has-text-color has-link-color has-condensed-font-family has-small-font-size"></p>
<!-- /wp:paragraph -->

<!-- wp:group {"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:read-more {"content":"View Opportunity →","linkTarget":"_blank","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"border":{"width":"0px","style":"none"},"spacing":{"padding":{"top":"0px","bottom":"0px","left":"0px","right":"0px"}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"base","fontSize":"x-small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template -->

<!-- wp:query-no-results {"align":"center"} -->
<!-- wp:query-pagination {"paginationArrow":"arrow","showLabel":false,"layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"64px","bottom":"64px","left":"64px","right":"64px"}},"color":{"background":"#0d1117"},"border":{"top":{"color":"#ffffff10","width":"1px"}}},"layout":{"type":"constrained","contentSize":"1280px"}} -->
<div class="wp-block-group alignfull has-background" style="border-top-color:#ffffff10;border-top-width:1px;background-color:#0d1117;padding-top:64px;padding-right:64px;padding-bottom:64px;padding-left:64px"><!-- wp:heading {"level":3,"className":"has-text-align-center","style":{"color":{"text":"#e1e2e7"},"typography":{"fontSize":"24px","fontWeight":"600","lineHeight":"32px","fontFamily":"Sora"},"spacing":{"margin":{"bottom":"16px"}}}} -->
<h3 class="wp-block-heading has-text-align-center has-text-color" style="color:#e1e2e7;margin-bottom:16px;font-family:Sora;font-size:24px;font-weight:600;line-height:32px">Ready to Engineer the Future?</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"color":{"text":"#c7c4d9"},"typography":{"fontSize":"16px","fontWeight":"400","lineHeight":"24px","fontFamily":"Geist","textAlign":"center"},"spacing":{"margin":{"bottom":"32px"}}}} -->
<p class="has-text-align-center has-text-color" style="color:#c7c4d9;margin-bottom:32px;font-family:Geist;font-size:16px;font-weight:400;line-height:24px">Join our mission to build precision measurement systems that advance human knowledge and capability.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"style":{"color":{"text":"#2000a4","gradient":"linear-gradient(45deg,#5344f4 0%,#dec9ff 100%)"},"border":{"radius":"4px"},"typography":{"fontSize":"12px","fontWeight":"500","letterSpacing":"0.08em","fontFamily":"JetBrains Mono"},"spacing":{"padding":{"top":"12px","bottom":"12px","left":"24px","right":"24px"}}}} -->
<div class="wp-block-button"><a class="wp-block-button__link has-text-color has-background has-custom-font-size wp-element-button" href="mailto:careers@measuretwice.com" style="border-radius:4px;color:#2000a4;background:linear-gradient(45deg,#5344f4 0%,#dec9ff 100%);padding-top:12px;padding-right:24px;padding-bottom:12px;padding-left:24px;font-family:JetBrains Mono;font-size:12px;font-weight:500;letter-spacing:0.08em">SUBMIT YOUR PORTFOLIO</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"measure-twice-theme","area":"footer"} /-->
